.caixa-produtos {
    border: 2px solid black;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}

.titulo-produtos {
   text-align: center;
   height: 100px;
   padding-top: 25px;
   font-size: 35px;
}

.caixa-imagem {
    border: 2px solid #2f243aff;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}

div ul li {
    font-size: 18px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

.imagem {
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
}

.imagem:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#inQuantidade {
    width: 20px;
}

/* ESTILIZAÇÃO DOS BOTÕES DE COMPRA */

.botao {
    width: 20px
}


.botao {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #D7D5D5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px #999;
  }

.botao:hover {
    background-color: #fac9b8ff
}

.botao:active {
    background-color: #D7D5D5;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }
/* ESTILIZAÇÃO DOS BOTÕES DE COMPRA TERMINA AQUI */



